{{ 'timer.css' | asset_url | stylesheet_tag }}

<div class="wrapper">
  <h1>countdownJS</h1>

  <div class="countdown" data-date="12-12-2024" data-time="23:00">
    <div class="day"><span class="num"></span><span class="word"></span></div>
    <div class="hour"><span class="num"></span><span class="word"></span></div>
    <div class="min"><span class="num"></span><span class="word"></span></div>
    <div class="sec"><span class="num"></span><span class="word"></span></div>
  </div>
</div>

<script src="{{ 'timer.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Countdown_Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_countdown",
      "default": false,
      "label": "Enable Countdown"
    },

    {
      "type": "text",
      "id": "title",
      "default": "SALE TEXT HERE",
      "label": "Sale Title Text"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
