h1 {
  font-size: 18px;
}

.countdown {
  display: flex;
  color: #000;
}

.day,
.hour,
.min,
.sec {
  padding: 15px;
  text-align: center;
}
.num {
  display: block;
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
  color: #000000;
}
.word {
  display: block;
  font-size: 18px;
  color: #000000;
}
